body {
    margin:20px;
    text-align: center;
}

h1 {
    text-decoration: underline;
}

#page {
    padding-top:10px;
}

.tr_dispatched {
    background-color: lightgreen;
}
.tr_ordered {
    background-color: lightyellow;
}

.tr_ordered td:first-child, .tr_open td:first-child {
    cursor: pointer;
}

.nav .active {
    font-weight: bold;
    box-shadow:0 0 0 1px rgba(0,0,0,.15);
}